<div class="container mt-3">
  <div fxLayout="row wrap" fxLayoutGap="1rem grid">
    <div *ngFor="let season of seasons$ | async" fxFlex="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <mat-card id="card" class="mat-elevation-z6">
        <mat-card-content>
          <h3>Season {{season.id}}</h3>
          <p>
            Release date : {{season.release_date}}
            <br />
            Final date : {{season.final_date}}
            <br />
            Number of episodes : {{season.episodes}}
          </p>
          <p class="m-0">{{season.introduction}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>