#card {
  border-radius: 10px;
  height: 100%;
  padding: 32px !important;
  cursor: pointer;
}

::ng-deep .mat-tooltip {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 700 !important;
}
