$c_0: #000000;
$c_1: #353540;


#card {
  border-radius: 10px;
  height: 100%;
}

#card_content {
  padding: 16px;
  border-radius: 10px 10px 0 0;
}

.watch {
  position: absolute;
  top: 0;
  left: 0;
}

.imdb {
  border-radius: 10px 4px 4px 4px;
}

::ng-deep.mat-paginator .mat-paginator-container{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--charcoal);
  padding: 0;
}

::ng-deep.mat-paginator .mat-paginator-container{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  padding: 0;
}

.mat-paginator{
  background-color: transparent;
}

::ng-deep .mat-select-value{
  color: white;
}

::ng-deep .mat-select-arrow {
  color: white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}
