<header>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <span class="spacer"></span>
      <a href="/">
        <button class="mr-3 mat-elevation-z6" mat-raised-button color="white">
          <mat-icon class="mr-1" fontSet="material-icons-round">science</mat-icon>
          <span>Home</span>
        </button>
      </a>
      <a href="/seasons">
        <button class="mr-3 mat-elevation-z6" mat-raised-button color="accent">
          <mat-icon class="mr-1" fontSet="material-icons-round">movie</mat-icon>
          <span>Seasons</span>
        </button>
      </a>
      <a href="https://github.com/7xanswer/breaking-lab" target="_blank">
        <button class="mat-elevation-z6" mat-raised-button color="warn">
          <mat-icon class="mr-1" fontSet="material-icons-round">favorite</mat-icon>
          <span>GitHub</span>
        </button>
      </a>
    </mat-toolbar>
</header>