<header>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <span>BreakingLab</span>
      <span class="spacer"></span>
      <button class="mr-3 mat-elevation-z6" mat-raised-button color="accent">
        <mat-icon class="mr-1" fontSet="material-icons-round">science</mat-icon>
        <span>Admin</span>
      </button>
      <button class="mat-elevation-z6" mat-raised-button color="warn">
        <mat-icon class="mr-1" fontSet="material-icons-round">favorite</mat-icon>
        <span>GitHub</span>
      </button>
    </mat-toolbar>
</header>