<footer class="mat-elevation-z6 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-3">
          <h1>Breaking Lab</h1>
          <span>An edited timeline</span>
          <p class="">© 2021 Breaking Lab. All Right Reserved.</p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between py-3">
          <span>Explore</span>
          <ul class="p-0 mt-2 mb-0">
            <li>
              Home
            </li>
            <li>
              Seasons
            </li>
            <li>
              Episodes
            </li>
          </ul>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between py-3">
          <span>More</span>
          <ul class="p-0 mt-2">
            <li>
              GitHub
            </li>
            <li>
              API
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>
