<footer class="mat-elevation-z6 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-3">
          <h1 data-aos="fade-right" data-aos-duration="1000">Breaking Lab</h1>
          <span>An edited Breaking Bad timeline.</span>
          <p class="mb-0">© 2021 Breaking Lab. All Right Reserved.</p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between py-3">
          <span>Explore</span>
          <ul class="p-0 mt-2 mb-0">
            <li class="mb-1">
              <a href="/">
                Home
              </a>
            </li>
            <li class="mb-1">
              <a href="/seasons">
                Seasons
              </a>
            </li>
            <li>
              <a href="/episodes">
                Episodes
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between py-3">
          <span>More</span>
          <ul class="p-0 mt-2 mb-0">
            <li class="mb-1">
              <a href="https://github.com/7xanswer/breaking-lab" target="_blank">
                GitHub
              </a>
            </li>
            <li class="mb-1">
              <a href="https://www.imdb.com/title/tt0903747/" target="_blank">
                IMDb
              </a>
            </li>
            <li>
              <a href="https://breakingbad.fandom.com/wiki/Breaking_Bad_Wiki" target="_blank">
                Fandom
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>
