footer {
  bottom: 0;
  height: 50vh;
  background-color : #673ab7;
}

h1 {
  font-size: 3em !important;
  color: white;
}
span {
  color: #ffd740;
}

ul li{
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
}

p {
  color: white;
}
