footer {
  bottom: 0;
  height: 30vh;
  background-color : #303030;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  font-size: 3em !important;
  color: white;
}
span {
  color: #ffd740;
}

ul li{
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
}

p {
  color: white;
}

@media (max-width: 768px) {
  footer {
    height: 50vh;
  }
}
