:root {
  --charcoal: #2d2d2d;
  --royal: #004fff;
  --cloud: #e1e7eb;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--charcoal);
}

#navbar {
  background-color: var(--royal);
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: var(--charcoal);
  font-size: 1rem;
}

span {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
}
