@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --charcoal: #2d2d2d;
  --royal: #004fff;
  --cloud: #e1e7eb;
}

.example-spacer {
  flex: 1 1 auto;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mat-drawer-container, mat-card {
  background-color : #303030 !important;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffd740;
}

@font-face {
  font-family: "The Bold Font";
  src: url("/assets/fonts/theboldfont-webfont.woff2") format("woff2"),
    url("/assets/fonts/theboldfont-webfont.woff") format("woff");
}

h1 {
  font-family: "The Bold Font", sans-serif !important;
  font-size: 4rem !important;
  line-height: normal !important;
}

h3 {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: var(--charcoal);
  font-size: 2rem !important;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

span {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

::placeholder,
input,
textarea {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400;
}

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

.toolbar {
  z-index: 1;
  height: 10vh;
}

#menu-icon {
  transform: scale(1.8);
  color: white;
}

#menu-button{
  background: none;
  border: none;
}

.toolbar:first-child {
  font-family: "The Bold Font", sans-serif !important;
  line-height: normal !important;
  font-size: 1.8rem !important;
}

.root-white {
  color: white;
}
