<div class="full-screen-video-container">
  <video autoplay muted loop class="video">
    <source src="../../assets/videos/breaking-bad.mp4" type="video/mp4" />
  </video>
  <div class="overlay"></div>
  <div id="home" class="home container d-flex align-items-center">
    <div class="row">
      <div class="col-md-8 p-0 px-3">
        <h1>Breaking Lab</h1>
        <p>Breaking Lab is an Angular 9 SPA that allows anyone to create, modify or delete elements of the Breaking Bad series timeline.</p>
        <button mat-raised-button class="my-3 mr-3 mat-elevation-z6" color="warn">
          Browse episodes
          <mat-icon class="ml-1" fontSet="material-icons-round">movie</mat-icon>
        </button>
        <button mat-raised-button class="mat-elevation-z6" color="accent">
          Browse seasons
          <mat-icon class="ml-1" fontSet="material-icons-round">tv</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
